<!-- <div class="page">
	<div class="page__header"></div>
	<div class="page__body"></div>
	<div class="page__header"></div>
</div> -->

<h2 class="title">Create Question</h2>
<form class="create-form" (ngSubmit)="qs.create(question)">
    <label class="forms">
        <span class="forms__title">Question Name</span>
        <input class="forms__input" type="text" name="text" placeholder="Your text" [(ngModel)]="question.text">
    </label>
    <div class="create-form__type">
        <div class="radio-label">Question Type</div>
        <div class="create-form__row">
            <label class="radio" *ngFor="let category of categories">
                <input type="radio" class="radio__input" [(ngModel)]="question.category" name="category" [value]="category">
                <span class="radio__label"></span>
                <div class="radio__text">{{category|upper}}</div>
            </label>
        </div>
    </div>
    <button class="btn-create btn _primary" [disabled]="!question.text || (question.category != 'open' &&  !question.answers.length)">Create Question</button>
</form>

<ng-container *ngIf="question.category != 'open'">
    <h3>Answers</h3>
    <form (ngSubmit)="question.answers.push(answer); answer='';">
        <label class="forms">
            <span class="forms__title">Answer Name</span>
            <input class="forms__input" type="text" placeholder="Your text" [(ngModel)]="answer" name="answer">
        </label>
       <div class="text-center"> <button class="btn _primary" [disabled]="!answer">Add Answer</button></div>
    </form>
	<div class="answer" *ngFor="let answer of question.answers; index as i">
        <span>{{answer}}</span>
		<span  (click)="question.answers.splice(i, 1);" class="material-icons">delete</span>
    </div>
</ng-container>
